@use '../../styles/partials/variables' as vars;

.input-wrap {
  width: 100%;
  margin: 20px 0;

  .input {
    width: 40vw;
    border-radius: 10px;
    border: 1px solid vars.$black-theme;
    box-sizing: border-box;
    padding: 16px;
    font-size: 16px;
    @media screen and (max-width: 672px) {
      width: 100%;
    }
  }

  .error {
    background-color: vars.$red-theme;
  }

  .label {
    margin-bottom: 0;
    display: block;
    line-height: 1;
    margin-bottom: 5px;
    font-size: 12px;
  }

  .errorMessage {
    font-size: small;
    line-height: 1.25;
    margin-top: 4px;
    color: vars.$red-theme-strong;
  }
}
