@use "../../styles/partials/variables" as vars;

.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;

  button {
    width: 120px;
  }

  .prev-btn {
    &:disabled {
      background-color: vars.$disabled-theme-1;
      color: vars.$disabled-theme-2;
      cursor: not-allowed;
    }
  }

  .next-btn {
    background-color: vars.$black-theme;
    color: white;

    &:disabled {
      cursor: not-allowed;
    }
  }

  .add-user {
    white-space: nowrap;
    background-color: vars.$add-user;
    &:hover {
      background-color: vars.$add-user-hover;
      color: white;
    }
  }
}
