//COLOURS

//TABLE
$table-header: #05445E;
$table-line-1: #D4F1F4;
$table-line-2: #189AB4;

//BACKGROUND
$grey-theme-1: #f8f8f8;
$grey-theme-2: #c4b7b7;

//BUTTONS
$add-user: #75E6DA;
$add-user-hover: #05445E;
$black-theme: #1a1a1a;
$black-theme-hover: #2f2f2f;
$disabled-theme-1:#ececec;
$disabled-theme-2: #cdcdcd;

//REQUIRED
$red-theme: #ffabab;
$red-theme-strong: #9a0707;
