@use "../../styles/partials/variables" as vars;

.add-link {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: vars.$brown-theme;
  width: 100%;
  padding: 16px;
  text-align: center;
  font-weight: bold;
  color: white;
  &:hover {
    color: white;
    background-color: vars.$brown-theme-hover;
  }
}
