@use "../../styles/partials/variables" as vars;

.list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-link {
  background-color: vars.$black-theme;
  width: 30vw;
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  &:hover {
    color: white;
    background-color: vars.$black-theme-hover;
  }
}
}

